In [111]:
import sys
REPO_PATH='/home/brook/kaggle/planet/repo'
sys.path.append(REPO_PATH)

In [112]:
from importlib import reload
import data.planet as data
import data.dfgen as gen
reload(data)
reload(gen)

# data.planet: PlanetData (create/load train/valid dataframes)

### CREATE A TRAINING/VALIDATION DATASET

In [113]:
# 300 training examples
# uses default of valid_pct=20 to create 60 validation examples
pld=data.PlanetData(create=True,train_size=300)

In [114]:
print(pld.train_df.shape)
pld.train_df.head()

(300, 3)

,image_name,tags,vec
8991,train_8991,agriculture cultivation partly_cloudy primary,"[0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, ..."
8683,train_8683,agriculture clear cultivation primary selectiv...,"[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
34669,train_34669,cloudy,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2171,train_2171,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
33812,train_33812,clear primary water,"[0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."

In [115]:
print(pld.valid_df.shape)
pld.valid_df.head()

(60, 3)

,image_name,tags,vec
11718,train_11718,agriculture clear primary road,"[0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, ..."
35626,train_35626,partly_cloudy primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ..."
24008,train_24008,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
29157,train_29157,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
8367,train_8367,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."

### LOAD EXISTING DATASET

* the above example automatically saved the CSVs
* now we can load them for future use

In [116]:
pld=None
pld=data.PlanetData(train_size=300)

In [117]:
print('train:',pld.train_df.shape)
print('valid:',pld.valid_df.shape)

train: (300, 3)
valid: (60, 3)

In [118]:
pld.train_df.head()

,image_name,tags,vec
0,train_8991,agriculture cultivation partly_cloudy primary,"[0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, ..."
1,train_8683,agriculture clear cultivation primary selectiv...,"[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
2,train_34669,cloudy,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,train_2171,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
4,train_33812,clear primary water,"[0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."

### CREATE A DATASET WITH ALL OF THE DATA

* changing valid_pct to 25
* using date as version rather than default (version=1)

In [119]:
pdfull=data.PlanetData(create=True,train_size='full',valid_pct=25,version=20170523)

In [120]:
pdfull=None

In [122]:
pdfull=data.PlanetData(train_size='full')
print(pdfull.train_df.shape,pdfull.valid_df.shape)
pdfull.train_df.head()

(32384, 3) (8095, 3)

,image_name,tags,vec
0,train_4275,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."
1,train_34708,agriculture clear habitation primary road,"[0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, ..."
2,train_10222,clear cultivation habitation primary road,"[0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, ..."
3,train_32304,partly_cloudy primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ..."
4,train_17795,clear primary,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ..."

# data.dfgen: DFGen (create generator from dataframe)

In [123]:
# load existing data
pld=None
pld=data.PlanetData(train_size=300)

In [124]:
# pass to generator class
train_gen=gen.DFGen(dataframe=pld.train_df)
# the instance method "data()" returns the generator
first_train_batch=next(train_gen.data())
# first_train_batch is a tuple: images, labels
print(len(first_train_batch))
im=first_train_batch[0]
lbl=first_train_batch[1]
print(im.shape)
print(lbl)

2
(32, 256, 256, 4)
[[0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 1 1 0 1 1 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0]
 [0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0]]

In [125]:
# same for validation
valid_gen=gen.DFGen(dataframe=pld.valid_df)
first_valid_batch=next(valid_gen.data())
print(len(first_valid_batch))
im=first_valid_batch[0]
lbl=first_valid_batch[1]
print(im.shape)
print(lbl)

2
(32, 256, 256, 4)
[[0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0]
 [0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 1 1 1 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0]
 [1 0 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]]